.root {
    -fx-background-color: white ;
}

#other {
    -fx-background-color: rgb(204,204,204); 
    -fx-font-size: 20px;
    -fx-text-fill: rgb(255,128,0);
    -fx-background-radius: 0;
}

#numpad {
    -fx-background-color: rgb(204,204,204) ; 
    -fx-font-size: 20px;
    -fx-text-fill: rgb(51,51,51) ;
    -fx-background-radius: 0;
}


#commands {
    -fx-background-color: rgb(204,204,204) ; 
    -fx-font-size: 20px;
    -fx-text-fill: rgb(29,199,19) ;
    -fx-background-radius: 0;
}

.text-field {
    -fx-background-radius: 0;
    -fx-font-size: 35px;
    -fx-background-color: rgb(76,76,76);
    -fx-text-fill: rgb(230,230,230);
} 

.test {
    -fx-background-color: rgb(210,60,36)
}
